.wrapperForm{
    background-color: brown;
}


.title {
    font-size: 1.9rem;
    margin-left: 25px;
   
}

.form {
    display: flex;
    background-color: hwb(132 94% 0%);
    flex-direction: column;
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px 25px;
    padding-bottom: 25px;
}

