.wrapperForm {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.9rem;
  margin-left: 25px;
}

.form {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  max-width: 700px;
  margin: 15px 160px;
  padding: 15px 15px;
  padding-bottom: 25px;
  border: solid 1px silver;
}
::placeholder {
  color: silver;
  padding-left: 15px;
}

.form input[type="text"] {
  width: 650px;
  margin: 10px 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid silver;
}
.form input[type="number"] {
  width: 650px;
  margin: 10px 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid silver;
}
.form textarea {
  width: 650px;
  margin: 5px auto;
  resize: none;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid silver;
}

.form input[type="date"] {
  width: 250px;
  margin: 5px 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  border: 1px solid silver;
}

.form > input {
  height: 35px;
}
.form input[type="submit"] {
  width: 650px;
  margin: 15px auto;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid silver;
  background-color: #29A2F8;
}
.form input[type="submit"]:hover {

  background-color: #5cb7f8;
  color: #4f606b;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.form input[type="file"] {
  width: 250px;
  height: 50px;
  margin: 5px auto;
  margin-bottom: 25px;
  border-radius: 3px;
}

.form img {
  width: 400px;
  height: 400px;
  margin: 15px auto;

  padding-left: 15px;
}
.form label {
  padding-left: 10px;
  font-weight: 600;
  color: #000;
  opacity: 50%;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  outline: none;
}
