.wrapperForm {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.9rem;
  margin-left: 25px;
}

.form {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  max-width: 700px;
  margin: 15px 160px;
  padding: 15px 15px;
  padding-bottom: 25px;
  border: solid 1px silver;
  
}



.form input[type="text"] {
  width: 650px;
  margin: 10px 10px;
  margin-bottom: 25px;

}
.form input[type="number"] {
  width: 650px;
  margin: 10px 10px;
  margin-bottom: 25px;
}
.form textarea {
  width: 650px;
  margin: 5px auto;
  resize: none;
  margin-bottom: 25px;
}

.form input[type="date"] {
  width: 650px;
  margin: 5px 10px;
  margin-bottom: 25px;
}

.form > input {
  height: 35px;
  margin: 5px 10px;
}
.form input[type="submit"] {
  width: 150px;
  margin: 15px auto;
}
.form input[type="file"] {
  width: 250px;
  height: 50px;
  margin: 5px auto;
  margin-bottom: 25px;
}

.form img {
  width: 400px;
  height: 400px;
  margin: 15px auto;

  padding-left: 15px;
}
.form label {
  padding-left: 10px;
  font-weight: 600;
  color: #000;
  opacity: 50%;

 
}
